In [3]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [5]:
df = pd.read_csv('cars_output.csv')
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,30/03/2016 13:51,Zu_verkaufen,private,offer,4450,test,limousine,2003,manual,150,3er,150000,3,diesel,bmw,yes,30/03/2016 00:00,20257,07/04/2016 04:44
1,07/03/2016 09:54,Volvo_XC90_2.4D_Summum,private,offer,13299,control,suv,2005,manual,163,xc_reihe,150000,6,diesel,volvo,no,07/03/2016 00:00,88045,26/03/2016 13:17
2,01/04/2016 00:57,Volkswagen_Touran,private,offer,3200,test,bus,2003,manual,101,touran,150000,11,diesel,volkswagen,yes,31/03/2016 00:00,27449,01/04/2016 08:40
3,19/03/2016 17:50,Seat_Ibiza_1.4_16V_Reference,private,offer,4500,control,small car,2006,manual,86,ibiza,60000,12,petrol,seat,no,19/03/2016 00:00,34537,07/04/2016 04:44
4,16/03/2016 14:51,Volvo_XC90_D5_Aut._RDesign_R_Design_AWD_GSHD_S...,private,offer,18750,test,suv,2008,automatic,185,xc_reihe,150000,11,diesel,volvo,no,16/03/2016 00:00,55270,01/04/2016 23:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45594,09/03/2016 01:36,Porsche_993,private,offer,175000,control,coupe,1998,manual,286,911,50000,2,petrol,porsche,no,09/03/2016 00:00,35418,14/03/2016 23:17
45595,23/03/2016 21:45,Opel_Astra_G_Caravan__Tuev_2/2018__Scheckheft_...,private,offer,2290,test,station wagon,2001,manual,101,astra,150000,3,petrol,opel,no,23/03/2016 00:00,27305,04/04/2016 01:47
45596,27/03/2016 14:55,Suche_einen_originalen_VW_Golf_2_Fire_and_Ice_G60,private,request,19999,control,limousine,1990,automatic,0,golf,5000,0,petrol,volkswagen,no,27/03/2016 00:00,50181,07/04/2016 11:45
45597,15/03/2016 18:06,Verkaufe_mehrere_Fahrzeuge_zum_Verschrotten,commercial,offer,100,control,station wagon,2000,manual,0,megane,150000,8,petrol,renault,yes,15/03/2016 00:00,65232,06/04/2016 17:15
45598,22/03/2016 09:54,Chevrolet_Matiz_1.Hd_TÃœV11/2017,commercial,offer,1100,test,small car,2006,manual,38,matiz,150000,10,petrol,chevrolet,no,22/03/2016 00:00,7973,05/04/2016 21:15

In [7]:
cars = df.copy()

In [ ]:
cars = cars[
    (cars.yearOfRegistration <=2018) &
    (cars.yearOfRegistration >=1950) &
    (cars.price >= 100) &
    (cars.price <= 150000) &
    (cars.powerPS >= 10) &
    (cars.powerPS <=500)
]
cars

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,30/03/2016 13:51,Zu_verkaufen,private,offer,4450,test,limousine,2003,manual,150,3er,150000,3,diesel,bmw,yes,30/03/2016 00:00,20257,07/04/2016 04:44
1,07/03/2016 09:54,Volvo_XC90_2.4D_Summum,private,offer,13299,control,suv,2005,manual,163,xc_reihe,150000,6,diesel,volvo,no,07/03/2016 00:00,88045,26/03/2016 13:17
2,01/04/2016 00:57,Volkswagen_Touran,private,offer,3200,test,bus,2003,manual,101,touran,150000,11,diesel,volkswagen,yes,31/03/2016 00:00,27449,01/04/2016 08:40
3,19/03/2016 17:50,Seat_Ibiza_1.4_16V_Reference,private,offer,4500,control,small car,2006,manual,86,ibiza,60000,12,petrol,seat,no,19/03/2016 00:00,34537,07/04/2016 04:44
4,16/03/2016 14:51,Volvo_XC90_D5_Aut._RDesign_R_Design_AWD_GSHD_S...,private,offer,18750,test,suv,2008,automatic,185,xc_reihe,150000,11,diesel,volvo,no,16/03/2016 00:00,55270,01/04/2016 23:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45591,10/03/2016 23:36,BMW_X3_3.0i,private,offer,10900,test,limousine,2004,manual,231,x_reihe,150000,8,petrol,bmw,no,10/03/2016 00:00,96152,06/04/2016 02:17
45592,14/03/2016 13:57,Opel_Astra_2.0_DI_Elegance,private,offer,790,test,limousine,1998,manual,82,astra,150000,9,diesel,opel,no,14/03/2016 00:00,99310,31/03/2016 00:45
45593,14/03/2016 11:37,Renault_Clio_mit_Servolenkung_und_neuem_TÃœV!,private,offer,830,test,small car,1999,manual,60,clio,125000,8,petrol,renault,no,14/03/2016 00:00,33659,22/03/2016 04:47
45595,23/03/2016 21:45,Opel_Astra_G_Caravan__Tuev_2/2018__Scheckheft_...,private,offer,2290,test,station wagon,2001,manual,101,astra,150000,3,petrol,opel,no,23/03/2016 00:00,27305,04/04/2016 01:47
45598,22/03/2016 09:54,Chevrolet_Matiz_1.Hd_TÃœV11/2017,commercial,offer,1100,test,small car,2006,manual,38,matiz,150000,10,petrol,chevrolet,no,22/03/2016 00:00,7973,05/04/2016 21:15

In [9]:
sample_size = 1000
sample = cars.sample(sample_size,random_state=0)

In [13]:
cars_mean = 6000
print(sample['price'].mean())

5791.228

In [14]:
stati,pvalue = ss.ttest_1samp(sample['price'],cars_mean)
print(stati,pvalue)

-0.9000743615546267 0.36829759156631026

In [15]:
n = len(cars['price'])

dof = n-1

print(n,dof)

41115 41114

In [16]:
alpha = 0.05

In [17]:
cv = ss.t.ppf([alpha/2,1-alpha/2],dof)
print(cv)

[-1.96002169  1.96002169]

In [18]:
if alpha <= pvalue:
    print('i accepte my null hypothoses')
else:
    print('Reject my null hypothes')

i accepte my null hypothoses