In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [4]:
df = pd.read_csv('cars_output.csv')
cars = df.copy()

In [ ]:
cars = cars[
    (cars.yearOfRegistration <=2018) &
    (cars.yearOfRegistration >=1950) &
    (cars.price >= 100) &
    (cars.price <= 150000) &
    (cars.powerPS >= 10) &
    (cars.powerPS <=500)
]

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
42355,10/03/2016 19:57,Golf_4_mit_Klimaanlage,private,offer,850,control,limousine,1999,manual,75,golf,150000,7,petrol,volkswagen,yes,10/03/2016 00:00,90453,10/03/2016 19:57
1595,01/04/2016 14:39,Porsche_Boxster,private,offer,14800,test,cabrio,2001,manual,220,boxster,125000,7,petrol,porsche,no,01/04/2016 00:00,40885,07/04/2016 11:17
26723,22/03/2016 13:54,Opel_corsa_Diesel,private,offer,2000,control,small car,2004,manual,69,corsa,150000,1,diesel,opel,yes,22/03/2016 00:00,59229,23/03/2016 21:44
26359,11/03/2016 20:49,Vw_Golf_mit_Wildschaden_Ersatzteile_Ersatzteil...,private,offer,200,control,others,1997,manual,90,golf,150000,7,petrol,volkswagen,yes,11/03/2016 00:00,6536,12/03/2016 11:44
39923,19/03/2016 21:49,Mercedes_Benz_E_200_T_Kompressor_Automatik_Cla...,private,offer,10000,control,station wagon,2006,automatic,184,e_klasse,150000,11,petrol,mercedes_benz,no,19/03/2016 00:00,22337,07/04/2016 12:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11839,18/03/2016 12:49,VW_Passat_Kombi_mit_Motorschaden,private,offer,500,control,station wagon,1998,manual,150,passat,150000,2,petrol,volkswagen,yes,18/03/2016 00:00,14772,22/03/2016 10:45
44323,07/03/2016 19:41,Mercedes_Benz_C_200_CDI_DPF_BlueEFFICIENCY_Ava...,private,offer,13800,control,limousine,2009,manual,136,c_klasse,80000,10,diesel,mercedes_benz,no,07/03/2016 00:00,97486,16/03/2016 21:45
22083,04/04/2016 22:46,Volkswagen_Polo_Edition,private,offer,1500,test,small car,2001,manual,50,polo,150000,5,petrol,volkswagen,no,04/04/2016 00:00,28197,07/04/2016 01:44
26304,21/03/2016 19:45,Opel_Vectra_1.6,private,offer,750,test,limousine,1997,manual,101,vectra,150000,7,petrol,opel,no,21/03/2016 00:00,2625,24/03/2016 09:16
12512,25/03/2016 23:54,OPEL_VECTRA__TÜV_11.2017,private,offer,1999,control,limousine,2002,manual,101,vectra,150000,1,petrol,opel,no,25/03/2016 00:00,21217,05/04/2016 18:18

In [9]:
sample_size = 1000
sample = cars.sample(sample_size,random_state=0)

sample

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
42355,10/03/2016 19:57,Golf_4_mit_Klimaanlage,private,offer,850,control,limousine,1999,manual,75,golf,150000,7,petrol,volkswagen,yes,10/03/2016 00:00,90453,10/03/2016 19:57
1595,01/04/2016 14:39,Porsche_Boxster,private,offer,14800,test,cabrio,2001,manual,220,boxster,125000,7,petrol,porsche,no,01/04/2016 00:00,40885,07/04/2016 11:17
26723,22/03/2016 13:54,Opel_corsa_Diesel,private,offer,2000,control,small car,2004,manual,69,corsa,150000,1,diesel,opel,yes,22/03/2016 00:00,59229,23/03/2016 21:44
26359,11/03/2016 20:49,Vw_Golf_mit_Wildschaden_Ersatzteile_Ersatzteil...,private,offer,200,control,others,1997,manual,90,golf,150000,7,petrol,volkswagen,yes,11/03/2016 00:00,6536,12/03/2016 11:44
39923,19/03/2016 21:49,Mercedes_Benz_E_200_T_Kompressor_Automatik_Cla...,private,offer,10000,control,station wagon,2006,automatic,184,e_klasse,150000,11,petrol,mercedes_benz,no,19/03/2016 00:00,22337,07/04/2016 12:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11839,18/03/2016 12:49,VW_Passat_Kombi_mit_Motorschaden,private,offer,500,control,station wagon,1998,manual,150,passat,150000,2,petrol,volkswagen,yes,18/03/2016 00:00,14772,22/03/2016 10:45
44323,07/03/2016 19:41,Mercedes_Benz_C_200_CDI_DPF_BlueEFFICIENCY_Ava...,private,offer,13800,control,limousine,2009,manual,136,c_klasse,80000,10,diesel,mercedes_benz,no,07/03/2016 00:00,97486,16/03/2016 21:45
22083,04/04/2016 22:46,Volkswagen_Polo_Edition,private,offer,1500,test,small car,2001,manual,50,polo,150000,5,petrol,volkswagen,no,04/04/2016 00:00,28197,07/04/2016 01:44
26304,21/03/2016 19:45,Opel_Vectra_1.6,private,offer,750,test,limousine,1997,manual,101,vectra,150000,7,petrol,opel,no,21/03/2016 00:00,2625,24/03/2016 09:16
12512,25/03/2016 23:54,OPEL_VECTRA__TÜV_11.2017,private,offer,1999,control,limousine,2002,manual,101,vectra,150000,1,petrol,opel,no,25/03/2016 00:00,21217,05/04/2016 18:18

In [18]:
count = sample['gearbox'].value_counts().get('automatic',0)

nobs = len(sample['gearbox'])

p0 = 0.23

In [19]:
print(count,nobs,p0)

242 1000 0.23

In [20]:
from statsmodels.stats.proportion import proportions_ztest

stati,pvalue_oneprop =  proportions_ztest(count=count,nobs=nobs,value=p0,alternative='two-sided',prop_var=False)
print(stati,pvalue_oneprop)

0.8860106867807933 0.37561176849514466

In [22]:
alpha = 0.05
cv = ss.norm.ppf([alpha/2,1-alpha/2])
print(cv)

[-1.95996398  1.95996398]

In [23]:
if pvalue_oneprop <= alpha:
    print("Reject the null hypothesis — proportion has changed.")
else:
    print("Fail to reject the null hypothesis — no significant change.")

Fail to reject the null hypothesis — no significant change.